@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body, html {
  font-size: 0.9285714286vw;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: #3577EF;
}

.layout {
  height: 100%;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/main-bg-image.jpg);
}

.sidebar {
  width: 23.8571428571vw;
  display: flex;
  background-color: #25272A;
  opacity: 0.75;
}

.services {
  height: 100%;
  opacity: 0.7;
  width: 5vw;
  padding-top: 2.1428571429vw;
  background-color: #000000;
}
.services .service {
  opacity: 0.3;
  cursor: pointer;
  position: relative;
  padding: 0 1.0357142857vw;
  margin-bottom: 1.3214285714vw;
}
.services .service.active {
  opacity: 1;
}
.services .service.active::before {
  top: 50%;
  content: "";
  display: block;
  position: absolute;
  width: 0.5vw;
  height: 0.5vw;
  left: -0.25vw;
  border-radius: 50%;
  background-color: #AAAEB4;
  transform: translateY(-50%);
}
.services .button-add {
  background-color: #000000;
  opacity: 0.7;
  width: 100%;
  margin-top: 24.2857142857vw;
}

.navigation-panel {
  opacity: 0.75;
  color: #AAAEB4;
  width: 18.5714285714vw;
  padding-top: 2.1428571429vw;
  background-color: #25272A;
  padding-right: 1.7142857143vw;
  padding-left: 1.8214285714vw;
}
.navigation-panel-top {
  display: flex;
  justify-content: space-between;
}
.navigation-panel-top__title {
  color: #fff;
  position: relative;
  font-size: 1.4285714286vw;
}
.navigation-panel-top__title::after {
  top: 50%;
  content: "";
  display: block;
  position: absolute;
  right: -1.1428571429vw;
  width: 0.6785714286vw;
  height: 0.3928571429vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(-50%);
  background-image: url(../img/check.svg);
}
.navigation-panel-top img {
  width: 1vw;
}
.navigation-panel-message {
  display: flex;
  margin-top: 2.1428571429vw;
}
.navigation-panel-message img {
  width: 1.2857142857vw;
  margin-right: 1.0714285714vw;
}
.navigation-panel__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.0714285714vw;
}
.navigation-panel__top h3 {
  text-transform: uppercase;
}
.navigation-panel-channels {
  margin-top: 2.2857142857vw;
}
.navigation-panel-channels__list {
  cursor: pointer;
  overflow-y: auto;
  max-height: 22.8571428571vw;
  margin-bottom: 1.25vw;
  padding-right: 0.7142857143vw;
}
.navigation-panel-channels__list-item {
  border-radius: 0.5vw;
  padding: 0.5714285714vw 0.8571428571vw;
}
.navigation-panel-channels__list-item.active {
  color: #fff;
  font-weight: bold;
  background-color: #919191;
}
.navigation-panel-channels__list::-webkit-scrollbar {
  width: 0.7142857143vw;
}
.navigation-panel-channels__list::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
  box-shadow: inset 0 0 5px grey;
}
.navigation-panel-channels__list::-webkit-scrollbar-thumb {
  background: #919191;
  border-radius: 0.7142857143vw;
}
.navigation-panel-friends__list-item {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 0.7142857143vw;
}
.navigation-panel-friends__list-item::before {
  top: 50%;
  content: "";
  display: block;
  position: absolute;
  width: 0.5vw;
  height: 0.5vw;
  left: -1.0714285714vw;
  border-radius: 50%;
  background-color: #AAAEB4;
  transform: translateY(-50%);
}
.navigation-panel-friends__list-item.active::before {
  background-color: #70CC16;
}
.navigation-panel-friends__list-item img {
  width: 2.5vw;
  border-radius: 0.5vw;
  margin-right: 0.7857142857vw;
}

.chat {
  background-color: #fff;
  width: 62.1428571429vw;
  padding-top: 2.1428571429vw;
}
.chat-navigation {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.4285714286vw;
  padding-left: 1.7142857143vw;
  border-bottom: solid 0.0714285714vw rgba(170, 174, 180, 0.431372549);
}
.chat-navigation__name {
  font-weight: 700;
  font-size: 1.4285714286vw;
  position: relative;
}
.chat-navigation__name::after {
  content: "";
  display: block;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/star.svg");
  width: 1.0714285714vw;
  height: 1.0714285714vw;
  right: -1.4285714286vw;
  top: 0.3571428571vw;
}
.chat-navigation-search {
  display: flex;
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-navigation-search__subscribers {
  margin-right: 1.4642857143vw;
  color: #919191;
  font-weight: 400;
}
.chat-navigation-search__subscribers img {
  width: 0.75vw;
  margin-right: 0.4642857143vw;
}
.chat-navigation-search__input {
  position: relative;
}
.chat-navigation-search__input input {
  border: 0.0357142857vw solid #AAAEB4;
  border-radius: 0.3571428571vw;
  padding-top: 0.9285714286vw;
  padding-bottom: 0.6428571429vw;
  padding-left: 1.1071428571vw;
  width: 17.1428571429vw;
  position: relative;
}
.chat-navigation-search__input input::-moz-placeholder {
  font-weight: 400;
  font-size: 1vw;
  color: #919191;
}
.chat-navigation-search__input input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 1vw;
  color: #919191;
}
.chat-navigation-search__input input::placeholder {
  font-weight: 400;
  font-size: 1vw;
  color: #919191;
}
.chat-navigation-search__input::after {
  content: "";
  display: block;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/search.svg");
  width: 1.1071428571vw;
  height: 1.1071428571vw;
  right: 1.0714285714vw;
  top: 50%;
  transform: translateY(-50%);
}
.chat-navigation-search__notification {
  display: flex;
}
.chat-navigation-search__notification-bell {
  margin-left: 1.6428571429vw;
  position: relative;
  cursor: pointer;
}
.chat-navigation-search__notification-bell img {
  width: 1vw;
}
.chat-navigation-search__notification-bell::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #FD4948;
  border-radius: 50%;
  width: 0.2857142857vw;
  height: 0.2857142857vw;
  left: 0.9285714286vw;
  top: -0.1428571429vw;
}
.chat-navigation-search__notification-dots {
  margin-left: 1.6428571429vw;
  margin-right: 2.1071428571vw;
  cursor: pointer;
}
.chat-navigation-search__notification-dots span {
  display: block;
  background-color: #919191;
  width: 0.25vw;
  height: 0.25vw;
  border-radius: 50%;
  margin-bottom: 0.1428571429vw;
}
.chat-messages {
  overflow-y: scroll;
  height: 45.7142857143vw;
  margin-top: 1.0714285714vw;
}
.chat-messages::-webkit-scrollbar {
  width: 0.7142857143vw;
}
.chat-messages::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
  box-shadow: inset 0 0 5px grey;
}
.chat-messages::-webkit-scrollbar-thumb {
  background: #AAAEB4;
  border-radius: 0.7142857143vw;
}
.chat-message {
  display: flex;
  margin-top: 1.3214285714vw;
  margin-bottom: 0.8928571429vw;
  padding-left: 1.7142857143vw;
  position: relative;
}
.chat-message img {
  width: 2.2857142857vw;
  height: 2.2857142857vw;
  margin-right: 0.8571428571vw;
  border-radius: 0.3571428571vw;
}
.chat-message-section__top-block {
  display: flex;
}
.chat-message-section__top-block .name {
  font-weight: 700;
  font-size: 0.8571428571vw;
  margin-right: 0.5714285714vw;
}
.chat-message-section__top-block .time {
  font-weight: 400;
  font-size: 0.8571428571vw;
  color: #AAAEB4;
}
.chat-message-section__content {
  font-weight: 400;
  line-height: 1.4285714286vw;
  position: relative;
}
.chat-message-section__content-img {
  position: relative;
}
.chat-message-section__content-img img {
  width: 19.0357142857vw;
  height: 14.2857142857vw;
  border-radius: 0.2142857143vw;
  margin-top: 1.2142857143vw;
}
.chat-message-section__content-img .message-reaction {
  position: absolute;
  right: 11vw;
  bottom: -0.4285714286vw;
}
.chat .message-reaction {
  background-color: #fff;
  box-shadow: 0 0.1428571429vw 0.5714285714vw rgba(0, 0, 0, 0.14);
  border-radius: 0.3571428571vw;
  width: 3.1428571429vw;
  height: 1.7142857143vw;
  padding-left: 0.3928571429vw;
  padding-right: 0.3928571429vw;
  display: flex;
  align-items: center;
}
.chat .message-reaction-emoji {
  margin-right: 0.3214285714vw;
  font-size: 1.0714285714vw;
}
.chat .message-reaction-counter {
  font-size: 0.8571428571vw;
}
.chat-message-date {
  text-align: center;
  position: relative;
}
.chat-message-date p {
  position: relative;
  z-index: 2;
  background-color: #fff;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 0 1.0357142857vw;
  color: #919191;
}
.chat-message-date::after {
  content: "";
  display: block;
  position: absolute;
  height: 0.0714285714vw;
  background-color: rgba(170, 174, 180, 0.431372549);
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.chat-typing-message {
  display: flex;
  justify-content: space-between;
  padding: 1.75vw 2.0714285714vw 2.5357142857vw 1.7142857143vw;
  border-top: solid 0.0714285714vw rgba(170, 174, 180, 0.431372549);
  margin-top: 1.5714285714vw;
}
.chat-typing-message-section {
  display: flex;
}
.chat-typing-message-section label img {
  width: 0.9642857143vw;
  height: 1.5714285714vw;
  margin-right: 1.3214285714vw;
  cursor: pointer;
}
.chat-typing-message-section label .attachment {
  display: none;
}
.chat-typing-message-section .voice-msg {
  border: none;
  background-color: #fff;
  width: 0.9642857143vw;
  height: 1.5714285714vw;
  margin-right: 1.5357142857vw;
  cursor: pointer;
}
.chat-typing-message-section .message {
  border: none;
  font-size: 1vw;
  font-weight: 400;
  color: #AAAEB4;
}
.chat-typing-message .emojibar {
  border: none;
  background-color: #fff;
  width: 1.4285714286vw;
  height: 1.4285714286vw;
  cursor: pointer;
}
.chat-typing-message .emojibar:hover {
  width: 1.7857142857vw;
  height: 1.7857142857vw;
}

.profile {
  width: 14.2857142857vw;
  background-color: #fff;
  opacity: 0.8;
  position: relative;
}
.profile img {
  width: 14.2857142857vw;
  height: 14.2857142857vw;
}
.profile__info {
  padding-left: 1.1785714286vw;
  padding-top: 1.3571428571vw;
}
.profile__info h3 {
  font-weight: 700;
  font-size: 1.1428571429vw;
  position: relative;
  margin-bottom: 0.25vw;
}
.profile__info h3::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #70CC16;
  border-radius: 50%;
  width: 0.4285714286vw;
  height: 0.4285714286vw;
  left: 6.4285714286vw;
  top: 0.5714285714vw;
}
.profile__info p {
  font-size: 0.8571428571vw;
  font-weight: 400;
  color: #25272A;
}
.profile__info_contact-details {
  margin-bottom: 0.7857142857vw;
}
.profile__info b {
  font-weight: 400;
  font-size: 1vw;
  color: #000000;
}
.profile__info_social-media {
  width: 7.5714285714vw;
  height: 1.9285714286vw;
  display: flex;
  justify-content: space-between;
  margin-top: 1.4285714286vw;
}
.profile__info_social-media img {
  width: 1.5714285714vw;
  height: 1.5714285714vw;
}
.profile__info_social-media img:hover {
  width: 1.9285714286vw;
  height: 1.9285714286vw;
}
.profile__info_button {
  width: 11.7857142857vw;
  display: flex;
  justify-content: space-between;
  height: 1.7857142857vw;
  margin-top: 1.3214285714vw;
  margin-bottom: 1vw;
}
.profile__info_button-message {
  width: 9.5357142857vw;
  background-color: #3577EF;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 0.9285714286vw;
  border: none;
  border-radius: 0.3571428571vw;
  cursor: pointer;
}
.profile__info_button-message:hover {
  background-color: #919191;
}
.profile__info_button-arrow-list {
  width: 1.8214285714vw;
  background-color: #3577EF;
  border: none;
  border-radius: 0.3571428571vw;
  cursor: pointer;
  position: relative;
}
.profile__info_button-arrow-list::after {
  content: "";
  position: absolute;
  border: 0.3571428571vw solid transparent;
  border-top: 0.3571428571vw solid #FFFFFF;
  left: 0.5714285714vw;
  bottom: 0.3571428571vw;
}
.profile__info_button-arrow-list:hover {
  background-color: #919191;
}
.profile__button-arrow {
  border: none;
  background-color: #fff;
  opacity: 0.8;
  position: absolute;
  right: 1.6428571429vw;
  bottom: 2vw;
  cursor: pointer;
}
.profile__button-arrow img {
  width: 0.7142857143vw;
  height: 1.1428571429vw;
}
.profile__button-arrow img:hover {
  width: 1.0714285714vw;
  height: 1.5vw;
}/*# sourceMappingURL=style.css.map */